.c-content-box {
  padding: 1.5rem 0 2rem;
  p {
    line-height: 1.5;
  }
}

.c-content-box__subheadline--with-button {
  display: inline;
  margin-right: 70px;
}

@media screen and (min-width: $media-width-L) {
}

@media screen and (min-width: $media-width-XL) {
  .c-content-box {
    max-width: 46rem;
    margin: 0 auto;
  }
}
